#welcome span {
  display: inline-block;
}

#week-1 p {
  font-size: 0.7em;
  line-height: 1em;
}

#week-1 img {
  border: none;
  box-shadow: none;
}

.underline {
  text-decoration: underline;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
  align-items: stretch;
}

.right {
  float: right;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.image {
  width: 45%;
}
